.projects {
  margin-top: 0;
  padding: 50px 0 50px 0;
  background-position: top center;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: rgb(9, 0, 103);
  background: linear-gradient(121deg, rgba(7, 2, 58) 0%, rgba(84, 53, 115, 1) 55%, rgba(122, 56, 56, 1) 100%);
}

.tab-container {
  width: 100%;
  min-height: 600px;
  display: flex;
  padding-top: 20px;
  margin-top: 30px;

}

.tab-container img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  display: block;
  transition: all 0.3s ease;
}

.projects-container {
  width: 100%;
  min-height: 600px;
  align-items: center;
  justify-content: center;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay svg {
  color: rgb(255, 255, 255);
  font-size: 50px;
  margin: 10px;
}

@media screen and (max-width: 400px) {

  .overlay svg {
    font-size: 40px;
  }

  .overlay p {
    font-size: 18px;
  }
}

.proyectos {
  position: relative;
}

.proyectos:hover img {
  opacity: 0.3;
}

.proyectos:hover .overlay {
  opacity: 1;
}




/* 
.prueba .col-project {
} */



.projects .nav-tabs .nav-link.active {
  color: white;
  transition: all 3s ease-in-out;
  background: linear-gradient(306deg, rgba(9, 0, 103, 1) 0%, rgba(84, 53, 115, 1) 48%, rgba(122, 56, 56, 1) 100%);
}


.projects .nav-tabs .nav-link {
  border-radius: 20px;
  color: white;

}

.projects .nav-tabs {
  border-color: white;
}